@include media-breakpoint-down(xl) {
    #publication-link-container {
        min-height: 520px;
    }

}

@include media-breakpoint-down(md) {
    #publication-link-container {
        min-height: 620px;
    }

    .carousel .carousel-inner {
        min-height: unset;
    }
}

@include media-breakpoint-down(sm) {

    .site-footer,
    .section,
    .banner-container {
        text-align: center;
    }

    .social-media-list a {
        justify-content: center;
    }

    li.nav-item.mx-2 {
        width: 100%;
        border: 2px solid #D2951D;
        margin: 5px 0px;
    }

    .nav a.nav-link.active,
    .nav a.nav-link:hover {
        border: unset;
        background: #D2951D;
        color: white;
    }

    nav a:not([href]):not([tabindex]),
    .nav a:not([href]):not([tabindex]):hover,
    .nav a:not([href]):not([tabindex]):focus {
        color: white;
    }

    #publication-link-container {
        min-height: 700px;
    }
}
